/*Import Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Bungee&family=Bungee+Inline&family=Bungee+Outline&family=Bungee+Shade&family=Concert+One&family=Stick+No+Bills:wght@200&display=swap');

/*Variables*/
:root {
    /*Colors*/
    --background: rgba(18, 115, 105, 1);
    --section: rgba(16, 64, 59, 0.5);
    --section-hover: rgba(16, 64, 59, 1);
    --section-Lighter: rgba(16, 64, 59, 0.5);
    --section-lighter-hover: rgba(16, 64, 59, 1);
    --text: rgba(255, 255, 255, 1);
    --text-hover: rgba(192, 192, 192, 1);
    --link: rgba(192, 192, 192, 1);
    --link-hover: rgba(255, 255, 255, 1);
    --active-tab: rgba(175, 175, 175, 1);
}

/*Styles for entire document*/
html{
    background-color: var(--background);
    overflow-x: hidden;
}


/*Flex*/
/*Flex Container*/
.flex-continer{
    text-align: center;
}

/*Flex Child*/
.flex-child{
    
}


/*Styles for Text*/
/*Styles for h1*/
h1{
    font-family: 'Bungee Shade', 'stick no bills', 'concert one', cursive;
    font-weight: 800;
    font-size: 2.25rem;
    line-height: 1;
    margin-top: 5px;
    margin-bottom: 10px;
    color: var(--text);
    overflow: hidden;
}

h2{
    font-family: 'Bungee Shade', 'stick no bills', 'concert one', cursive;
    font-weight: 800;
    font-size: 2rem;
    line-height: 1;
    margin-top: 30px;
    margin-bottom: -5px;
    color: var(--text);
    overflow: hidden;
}

h3{
    font-weight: 800;
    line-height: 1;
    margin-top: 17.25px;
    margin-bottom: -15px;
    font-size: 1.75rem;
    color: var(--text);
}

/*Styles for paragrahs*/
p{
    line-height: 1.125;
    font-weight: 800;
    font-size: 1.25rem;
    margin-bottom: 0px;
    color: var(--text);
}

/*Styles for Links*/
a{
    font-weight: 800;
    font-size: 1.25rem;
    color: var(--link);
}

a:hover{
    color: var(--link-hover);
}

ion-icon{
    pointer-events: none;
}

/*Styles for Sections*/
.section{
    background-color: var(--section);
    border-radius: 15px;
    margin: 10px;
    padding: 10px 20px;
    min-height: 50px;
}

.section:hover{
    background-color: var(--section-hover);
}


/*Styles for the header*/
header{
    display: grid;
    place-content: center;
    text-align: center;
}

header h1 {
    font-family: 'Bungee Shade', 'stick no bills', 'concert one', cursive;
    font-weight: 800;
    font-size: clamp(30px, 9.5vw, 25vh); /*Keep the title within the screen*/
    color: var(--text);
    margin-top: 15px;
    margin-bottom: 30px;
    overflow: hidden;
}


/*Styles for Navigation Bar*/
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

nav .section{
    display: flex;
    flex-grow: 1;
}

/*Styles for Navigation Bar Buttons*/
nav a{
    color: var(--text);
    font-size: 35px;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

nav a:hover{
    color: var(--text-hover);
}

/*Styles for Navigation Bar Icons*/
nav ion-icon{
    transform: translate3d(-5px, 1px, 0);
}

.active-tab{
    color: var(--active-tab);
    background-color: var(--section-hover);
}

.active-tab:hover{
    color: var(--active-tab);
    background-color: var(--section);
}

/*Styles for the Main content on the page (body tag)*/
/*keeping the Image and the Text on the page side by side when the screen is large enough and on top of each other on smaller displays*/
@media only screen and (min-width: 1200px) {
    .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

/*Styles for the Footer*/
footer{
    padding: 10px 10px !important;
}

footer:hover{
    background-color: var(--section) !important;
}

/*Styles for Footer Buttons*/
footer a{
    
    color: var(--link);
    font-size: 2rem;
    width: 0.0025px;
}

footer a:hover{
    color: var(--link-hover);
    font-size: 2rem;
}

/*Styles for keeping the two parts of the Footer beside eachother on large screens and one above the other on smaller screens*/
@media only screen and (min-width: 644px) {
    footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

/*Styles for Footer Contact Us section*/
footer h1{
    text-align: center;
}


/*Styles for Images*/
.img{
    width: calc(100% - 60px);
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}