/* Import fonts from google fonts:
    Anton (regular 400),
    Bebas Neue (regular 400),
    Bungee Inline(regular 400),
    Bungee Outline(regular 400),
    Bungee Shade(regular 400),
    Stick No Bills(ExtraLight 200, Light 300, Regular 400, Medium 500, SemiBold 600, Bold 700, ExtraBold 800),
    Concert One(regular 400)
*/

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Bungee&family=Bungee+Inline&family=Bungee+Outline&family=Bungee+Shade&family=Concert+One&family=Stick+No+Bills:wght@200&display=swap');


/*Colour Scheme
    colour-1: #127369;
    colour-2: #10403b;
    colour-3: #8aa6a3;
    colour-4: #4c5958;
    colour-5: #bfbfbf;
*/

:root {
    --background: rgba(18, 115, 105, 1);    /*Hex Value: #127369*/
    --section: rgba(16, 64, 59, 0.5);       /*Hex Value: #115952*/
    --section-hover: rgba(16, 64, 59, 1);   /*Hex Value: #10403B*/
    --section-Lighter: rgba(16, 64, 59, 0.5);       /*Hex Value: #115952*/
    --section-lighter-hover: rgba(16, 64, 59, 1);   /*Hex Value: #10403B*/
    --text: rgba(255, 255, 255, 1);         /*Hex Value: #FFFFFF*/
    --text-hover: rgba(192, 192, 192, 1);   /*Hex Value: #C0C0C0*/
}



html{
    background-color: var(--background);
    overflow-x: hidden;
}

h1{
    font-family: 'Bungee Shade', 'stick no bills', 'concert one', cursive;
    font-weight: 800;
    font-size: 2.25rem;
    line-height: 1;
    margin-top: 5px;
    margin-bottom: 10px;
    color: var(--text);
    overflow: hidden;
}

p{
    font-weight: 800;
    margin: 5px;
    font-size: 1.25rem;
    color: var(--text);
}

.section{
    background-color: var(--section);
    border-radius: 15px;
    margin: 10px;
    padding: 10px 20px;
    min-height: 50px;
}

.section:hover{
    background-color: var(--section-hover);
}


header{
    display: grid;
    place-content: center;
    text-align: center;
}

header h1 {
    font-family: 'Bungee Shade', 'stick no bills', 'concert one', cursive;
    font-weight: 800;
    font-size: clamp(30px, 9.5vw, 25vh);
    color: var(--text);
    margin-top: 15px;
    margin-bottom: 30px;
    overflow: hidden;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

nav a{
    color: var(--text);
    font-size: 35px;
    text-decoration: none;
}

nav a:hover{
    color: var(--text-hover);
}

nav ion-icon{
    transform: translate3d(-2px, 5px, 0);
}

#img1{
    width: calc(100% - 40px);
    height: auto;
}

footer{
    padding: 10px 10px !important;
}

footer:hover{
    background-color: var(--section) !important;
}

@media only screen and (min-width: 550px) {
    footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

#footer-links{
    text-align: center;
}

#the-top-half{
    display: grid;
    grid-template-columns: 1fr 1fr;
}